
<div class="slider-wrapper theme-default">
  <div class="loader visible"></div>
   <div id="slider" class="nivoSlider">
         {% for banner in banners %}
          {% if banner.link %}
          <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
          {% else %}
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}
         {% endfor %} 
   </div>
   
</div>
<script >
$(window).load(function() {
	$('#slider').nivoSlider();
});
</script>
